<!-- _includes/footer.html -->
<footer class="bg-darkgray py-8 text-center text-black text-sm">
    <p>
      &copy; 2025 Natural Awakening Retreats - All rights reserved.
    </p>
    <p>
      Follow us on Instagram:
      <b>
        <a
        href="https://www.instagram.com/raine.n0rth/"
        class="text-dark hover:underline"
        >@raine.n0rth
        </a>
      </b>  
      and
      <b>
        <a
        href="https://www.instagram.com/@touch.and.release/"
        class="text-dark hover:underline"
        >@touch.and.release
        </a>
      </b>
    </p>
</footer>
  