<footer class="bg-[#c7c6c1] py-8 text-center text-black text-sm pb-20 sm:pb-8">
    <p class="mb-2">
      &copy; 2025 Natural Awakening Retreats - All rights reserved.
    </p>
    <p class="px-4">
      Follow us on Instagram:
      <b>
        <a
        href="https://www.instagram.com/raine.n0rth/"
        class="text-black hover:underline"
        >@raine.n0rth
        </a>
      </b>  
      and
      <b>
        <a
        href="https://www.instagram.com/@touch.and.release/"
        class="text-black hover:underline"
        >@touch.and.release
        </a>
      </b>
    </p>
</footer>