<!-- _includes/head.html -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Natural Awakening Retreats</title>
    <link rel="icon" type="image/png" href="/assets/images/ico.png">

    <!-- Remix Icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bely+Display&family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lovelace:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/styles/base.css" />
</head>